mat-toolbar {
  display: flex;
  background-color: #4876c3;
  color: white;

  mat-toolbar-row:last-child {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .logo-wrapper {
    flex-grow: 1;

    .logo-image {
      width: auto;
    }
  }

  .menu-buttons {
    display: flex;
    flex-grow: 2;
    position: relative;
  
    .search-wrapper {
      display: flex;
      width: 0%;
      height: 41px;
      justify-content: space-between;
      position: absolute;
      right: 45px;
      top: 0;
      border-radius: 2px;
      background-color: rgb(255, 255, 255);
      overflow: hidden;

      .search-input {
        display: flex;
        width: 100%;
        align-items: stretch;

        .search-icon {
          color: rgb(214, 214, 214);
        }

        .search-clear {
          color: rgb(0, 0, 0);
        }
        input {
          width: 100%;
          outline: none;
          border: none;
        }
      }

      .search-button {
        background-color: rgb(255, 191, 31);
        border-radius: 2px;
      }
    }
    .filters-menu {
      max-width: 420px;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 47px;
      left: -45px;
      padding: 16px;
      border-radius: 2px;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: white;
      color: black;
      font-size: 12px;

      .input {
        height: 41px;
        outline: none;
        border: 1px rgb(214, 214, 214) solid;
        border-radius: 2px;
        margin-bottom: 15px;
      }
      mat-form-field {
        margin-left: 10px;
      }

      .mat-checkbox:not(:last-child) {
        margin-right: 18px;
      }
    }
  }

  .user-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }
  @media (max-width: 1120px) {
    .logo-image {
      width: 100% !important;
      min-width: 150px;
      max-width: 200px;
    }
    .buttons {
      button {
        font-size: 12px;
        padding: 0 5px;
      }
    }
  }
  @media (max-width: 900px) {
    mat-toolbar-row:first-child { 
      .menu-buttons {
        justify-content: flex-end;
      }

      .buttons {
        display: none;
      }
    }
    mat-toolbar-row:last-child {
      display: flex;

      .user-buttons {
        display: none;
      }
    }
  }
  @media (max-width: 520px) {
    .menu-icon {
      display: block;
    }
    .add-button {
      display: none;
    }
    mat-toolbar-row:first-child { 
      .user-buttons {
        display: none;
      }
    }
    mat-toolbar-row:last-child {
      .buttons {
        display: none;
      }
      .user-buttons {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
.content {
  width: 100%;
  min-height: calc(100vh - 64px);
}
